.border {
  border: 1px solid green;
}

.wine-types {
  font-size: 22px;
  line-height: normal;
  font-weight: 600;
}

.select-multiple {
  font-size: 13px;
  line-height: normal;
  font-weight: 400;
  text-align: center;
}

.wine-heading-row {
  margin-bottom: 30px;
}
.break {
  height: 18px !important;
}
