@media only screen and (min-width: 992px) {
  .search-bar {
    font-size: 16px;
    font-weight: 400;
    color: #333;
    background-image: url(./../../../assests/img/search-icon.svg);
    background-position: 16px;
    background-size: 16px;
    background-repeat: no-repeat;
    outline: none;
    padding: 4px 0 4px 48px;
    border: 1px solid #dedede;
    transition: width 0.6s ease-in-out;
    height: 40px;
    background-color: #fff;
    border-radius: 32px;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
//   .vivino-logo {
//     color: rgb(90, 186, 22) !important;
//     font-size: 26px !important;
//     line-height: 1.53846154 !important;
//     font-weight: 700;
//     font-family: "GraphikWeb", "Verdana", sans-serif;
//     letter-spacing: 0.03in;
//     margin-left: 40px;
//   }
  .search-bar{
      display: none;
  }
}
